@model MeusLivros_ProjetoMVC.Models.Editora

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Editora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEditora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEditora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EditoraId">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
